<!doctype html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
	
  
           <div class="card mr-3 ml-3">		
           
           
           <div class="card-body">
           
           
           <h1 class="text-center"> your contact </h1>
           
           
           <!-- search -->
           <div class="search-container my-3">
           
           <input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="search your contact"/>
           
           
           <div class="search-result">
           
        <!--    <h2>this is search result</h2> -->
           
           </div>
           
           	</div>
           
           <div class="table-responsive">
           <table class="table">
  <thead>
    <tr>
      <th scope="col">#id</th>
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th scope="col">phone</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="c : ${contacts}">
      <th scope="row" th:text="${'scm2023'+c.cId}">1</th>
      <td>
      <img class="my_profile_picture" alt="profile image" src="" th:src="@{'/img/'+${c.image}}">
      
      <span  th:text="${c.name}"></span></td>
      <td>
      
      <a href="" th:href="@{'/user/'+${c.cId}+'/contact'}">
      
      <span th:text="${c.email}"></span>
      
      </a>
      
      </td>
      <td th:text="${c.phone}">@mdo</td>
       <td >
       
       <a href="#" th:onclick="|deletecontact(${c.cId})|" class="btn btn-danger">delete</a>
      
      <form method="post" th:action="@{'/user/update-contact/'+${c.cId}}" class="mt-2">
        <button  type="submit" class="btn btn-success">update</button>
      </form>
     
       
       </td>
    </tr>
   
   
  </tbody>
</table>
</div>


<nav aria-label="Page navigation example">
  <ul class="pagination">
  
  
   <!-- Previous Button -->
        <li th:unless="${currentPage == 0}" class="page-item">
            <a th:href="@{'/user/show-contacts/' + ${currentPage - 1}}" class="page-link" href="#">Previous</a>
        </li>

        <!-- Page Numbers -->
        <li th:each="i : ${#numbers.sequence(1, totalPages)}" 
            th:classappend="${currentPage == i-1 ? 'active' : ''}" 
            class="page-item">
            <a th:href="@{'/user/show-contacts/' + ${i-1}}" class="page-link" href="#" th:text="${i}"></a>
        </li>

        <!-- Next Button -->
        <li th:unless="${currentPage + 1 == totalPages}" class="page-item">
            <a th:href="@{'/user/show-contacts/' + ${currentPage + 1}}" class="page-link" href="#">Next</a>
        </li>
  </ul>
</nav>
           
           </div>
           
           </div>
  
  <script>

 
 $(document).ready(()=>{
	$(".item").removeClass("active");
	$("#contact-link").addClass("active");
 });
</script>
  
  
	</section>
</body>
</html>